@font-face{
    font-family:"Noto Sans";
    src: url("fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face{
    font-family:"Noto Sans";
    src: url("fonts/Noto_Sans_SC/NotoSansSC-VariableFont_wght.ttf") format("truetype");
    unicode-range: U+4E00-9FFF;
}
@font-face{
    font-family:"pixel";
    src: url("fonts/Press-Start-2P/PressStart2P-1.ttf") format("truetype");
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.card{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
:root{
    --bg: #1e1e2e;
    --panel:#25253a;
    --text:#cdd6f4;
    --subtext:#8b8ba7;
    --accent:#f2a365;
    --border:#3a3a5a;
}
body{
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    line-height: 2.6;
    font-family:"Noto Sans",sans-serif;
}
a{
    color: var(--accent)
}
.card{
    background-color: var(--panel);
    border: 3px dashed var(--border);
    border-radius: 8px;
    padding: 20px 30px;
    min-height: 400px;
}
.line{
    border-top: 3px dashed var(--border);
    border-right: 3px dashed var(--border);    
}
.left{
    min-width: 510px;
    max-width: 510px;
}
.right{
    min-width: 360px;
    max-width: 360px;
}
.top{
    min-height: 200px;
    max-height: 200px;
}
.bottom{
    min-height: 150px;
    max-height: 150px;
}
.main{
    color: var(--text);
}
.sub{
    color: var(--subtext);
}
.title{
    font-size: 90px;
    font-weight: 800;
    color: var(--accent);

    margin-top: 20px;
    line-height: 1.6;

    font-family: "pixel",sans-serif;
    background: repeating-linear-gradient(
        0deg,
        var(--accent),
        var(--accent) 15px,
        var(--bg) 15px,
        var(--bg) 19px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}